

body {
	padding: 1vw;
	font-family: 'Arial','Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.25;
	font-size: 1vw;
  width: 100%;
  background-color: #ffffff;
	}

h1, h2, h3, nav, footer {
    text-align: center;
}

h1 { color: green; 
}

h2 { color: green; 
}

h5 { text-decoration-style: solid; 
}

h4 { text-decoration-style: solid; 
}


div1 { font-style: italic; 
}

div2 { text-align: left;
        font-size: 1.25vw;
        font-style: italic;
        width: 5%;

 }

 div3 { text-align: left;
        font-size: 1.25vw;
       
 }


div4 { 
        font-size: 1.25vw;
        color: green;   
        font-style: italic;
        

             
 }

nav {
    margin-bottom: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1vw;
}

h2 {
    padding: 1vw;
}

h3 {
    font-weight: bold;
    padding: 1vw;
    
}


 

#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;    
}

footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 1vw;
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos, .copyright_text {
    display: inline;
}

.copyright_logo {
		width: 1vw;
		margin:.15vw;
	}

.row {
    padding: 1vw;
}


#collection {
    display: block;
}

.thumbnail {
    margin: 5px;
    width: 100px;
}

.img-full {
    margin: 5px;
    width: 500px;
}

.img-disp { 
  margin: 5px ;
  width: 500px ;
  margin-left: 25% ;

}





